/*------- Global Styles ------*/
html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    margin:0;
    font-size: 1.2em;
    color: black;
    background-color: rgb(178, 202, 201);
}
footer a{
    color: whitesmoke;
    padding: 10px;
 }
footer{
     background-color: #191919;
 }
 header{
     text-align: center;
 }
/* -------- Navbar ------------- */
.nav-bar{
    background-color: #191919;
    color: whitesmoke;
    font-size: auto;
}
.nav-sections ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
.nav-bar li{
    padding: 10px;
}
.nav-bar a{
    text-decoration: none;
    padding: 5px;
    color: whitesmoke;
}
.nav-bar a:hover{
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    padding: 4px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}
.contact{
    padding: 5px;
}
.name {
    text-align: center;
    padding: 5px;
    font-family: 'Merriweather', sans-serif;
}
.content_wrap{
    max-width: 900px;
    width: 85%;
    margin: auto;
    padding: 20px 0;
}
/* .projects .button{
    background-color: darkblue;
    color: whitesmoke;
    padding: 7px;
    text-decoration: none;
    border-radius: 4PX;
} */
.projects .button:hover{
    transition: linear;
    transition-duration: .15s;
    text-decoration: none;
    padding: 8px;
}
.project-item{
    overflow: hidden;
    /* border-bottom: 1px dashed #343434; */
    padding: 25px 0px;
}
.project-item h3{
        margin-top: 0px;
}
.item-details h3 + p{
    font-style: italic;
}
h1{
    font-size: 35px;
    font-family: 'Cabin Condensed', sans-serif;
    margin: 0;
}
h2{
    font-size: 25px;
    font-family: 'Cabin Condensed', sans-serif;
    margin: 0;
}
.content_wrap{
    max-width: 900px;
    width: 85%;
    margin: auto;
    padding: 20px 0;
}
.item-details h3 ~ p{
    margin: 0;
}
.content_wrap section{
    padding: 10px;
}
header{
    background-color: rgb(178, 202, 201);;
    color: rgb(12, 15, 53);
    font-size: 1.2em;
    /* border-bottom-style: solid;
    border-color: rgb(88, 84, 84);
    border-width: 2px; */
    text-align: center;
}
header p{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
}
.email-button{
    background-color: none;
    color: darkblue;
    padding: 0;
    text-decoration: underline;
    border-radius: 0;
}
.projects{
    /* background-color: rgb(192, 216, 193); */
    background-color: rgb(178, 202, 201);
}
.projects .button{
    background-color: darkblue;
    color: whitesmoke;
    padding: 8px;
    text-decoration: none;
    border-radius: 4PX;
}
.contact-list{
    display: flex;
    justify-content: center;
}
.contact-list li{
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
.contact-list a{
    text-decoration: none;
}
.contact-list a:hover{
    text-decoration: underline;
}
footer h2{
    text-align: center;
    color: whitesmoke;
}
@media screen and (min-width: 600px){
    .project-item img{
        float: left;
        margin-right: 20px;
    }
    body{
        font-size: 1.1em;
    }
}
